.mainSection {
  background-color: var(--color-background);
  .inputContainer {
    position: relative;
    margin: 0 100px;
    padding-top: 50px;
    width: 60vw;
    border-bottom: 3px solid #fff;

    input {
      width: 100%;
      height: 55px;
      border-radius: 7px;
      background: var(--color-black);
      color: var(--color-white);
      border: 0 none;
      font-size: 1.3rem;
      padding: 0 50px 0 20px;
    }
    input:focus {
      outline: none;
      border-color: var(--color-pink);
    }
    input::placeholder {
      color: var(--color-fontGray);
    }

    .searchButton {
      position: absolute;
      right: 0;
      top: 60px;
      background-color: transparent;
      border: 0;
      .searchIcon {
        fill: var(--color-white);
        font-size: 36px;
      }
    }
  }
  .searchedMovies {
    width: 100%;
    margin: 30px auto 0;

    .moviesWrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      gap: 20px;
      justify-content: center;
      padding: 70px 15px;
      font-size: 24px;
      color: var(--color-fontGray);
      .movies {
        text-align: center;
      }
      .movie {
        display: block;
        --width: 300px;
        width: var(--width);
        height: calc(var(--width) * 3 / 2.1);
        border-radius: 4px;
        background-color: #ced4da;
        background-size: cover;
        overflow: hidden;
        position: relative;
      }
      .movieInfo {
        color: white;
        font-size: 1.3rem;
        font-family: 양진체;
        max-width: 300px;
        margin-top: 16px;
      }
    }
  }
}
