### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride


# Optional npm cache directory
.npm
.cache

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directory
node_modules
bower_componets
dist
dist-ssr
jspm_packages/


# Optional eslint cache
.eslintcache

# Thumbnails
._*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json