@use '../base';

.btn-close {
  width: 45px;
  height: 45px;
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: transparent;
  font-size: 21px;
  border: none;
  color: base.$color--primary;
  cursor: pointer;
  &:hover {
    color: base.$color--hover;
  }
}
.wrap {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  &.hide {
    display: none;
  }
  .poster-wrap {
    display: flex;
    align-items: center;
    .poster {
      $width: 300px;
      width: $width;
      height: calc($width * 3 / 2);
      background-size: cover;
      flex-shrink: 0;
    }
  }
  .specs {
    flex-grow: 1;
    padding: 0 20px;
    font-size: 20px;
    color: base.$color--white;
    overflow-y: auto;
    &::-webkit-scrollbar{
      width: 12px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: base.$color--primary;
    }
    &::-webkit-scrollbar-track{
      background-color: base.$color--black;
      border: 2px solid base.$color--white;
    }
    .title {
      font-size: 48px;
      color: base.$color--point;
      font-family: 'Space Mono', monospace;
    }
    .labels {
      margin-top: 10px;
      color: base.$color--blue;
    }
    .plot {
      margin-top: 10px;
    }
    h3 {
      color: base.$color--primary;
      font-size: 21px;
      font-weight: 700;
      padding: 0;
      margin: 0;
      margin-top: 20px;
      font-family: 'Space Mono', monospace;
    }
    p {
      padding: 0;
      margin: 0;
    }
    .ratings-wrap {
      margin-bottom: -10px;
      .ratings {
        height: 40px;
        display: flex;
        .ratings-logo {
          width: 40px;
          height: 40px;
          background-size: contain;
          background-repeat: no-repeat;
          margin-right: 10px;
          display: flex;
          align-items: center;
          img {
            width: 100%;
          }
        }
        p {
          display: flex;
          align-items: center;
        }
      }
      
    }
  }
}