ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  li {
    flex-shrink: 0;

    figure {
      position: relative;
      width: 300px;
      height: 500px;

      figcaption {
        position: absolute;
        visibility: hidden;
        bottom: 0;
        width: 100%;
        height: max-content;
        transform: translateY(-100px);
        transition: transform 0.2s;
        div {
          text-align: center;
          font-size: 20px;
        }
      }
      &:hover {
        figcaption {
          visibility: visible;
          border: 3px solid;
          background-color: rgba(255, 255, 255, 0.5);
          transform: translateY(0);
        }
      }

      img {
        &:hover {
          filter: blur(10px);
        }
      }
    }
  }
}
