$color--white: #ffffff;
$color--white-50: rgba(255, 255, 255, .5);
$color--white-30: rgba(255, 255, 255, .3);
$color--white-20: rgba(255, 255, 255, .2);
$color--white-10: rgba(255, 255, 255, .1);
$color--white-5: rgba(255, 255, 255, .05);

$color--black: #000000;
$color--black-80: rgba(0, 0, 0, .8);
$color--black-50: rgba(0, 0, 0, .5);
$color--black-30: rgba(0, 0, 0, .3);

$color--primary: #37fb8f;
$color--primary-50: rgba(55, 251, 143, .5);
$color--primary-20: rgba(55, 251, 143, .2);
$color--primary-10: rgba(55, 251, 143, .1);

$color--point: #ea23e0;
$color--point-50: rgba(234, 35, 224, .5);
$color--point-20: rgba(234, 35, 224, .2);
$color--point-10: rgba(234, 35, 224, .1);

$color--blue: #3cbaea;
$color--blue-50:rgba(60, 186, 234, .5);
$color--blue-20:rgba(60, 186, 234, .2);
$color--blue-10:rgba(60, 186, 234, .1);


$color--hover: #089c0a;