$white: #fefefe;
$white-80: rgb(245, 245, 245, 0.8);
$white-50: rgb(245, 245, 245, 0.5);
$white-30: rgb(245, 245, 245, 0.3);
$white-20: rgb(245, 245, 245, 0.2);
$white-10: rgb(245, 245, 245, 0.1);
$white-5: rgb(245, 245, 245, 0.05);
$dark_green: #040a0f;
$dark_green-50: rgb(4, 10, 15, 0.5);
$white_green: #152b35;
$white_green2: rgb(29, 62, 78);
$light_green:#18F49A;
$light_green-30:rgb(26, 244, 153, .3);
$primary1: #00f448;
$primary2: #FF7C16;
$navheight: 75px;
$width: 200px;
