body {
  margin: 0;
}
:root {
  --darkblue: #18324b;
  --rightgray: #cbd2e9;
  --yellow: #f3ec78;
  --gray: #b2b8cd;
  --black: #040508;
  --white: #f6f4f3;
  --orange: #f73939;
  --point: #ff88b6;
}
