@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import '_variables';
@import '_mixins';

// @include button($black)
// $color
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: none;
  text-align: center;
  text-decoration: none;
  word-spacing: 1.2;
  letter-spacing: 1.2;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(197, 138, 255);
  nav {
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.354);
    position: sticky;
    top: 0;
    z-index: 9;
    display: flex;
    align-items: flex-end;
    gap: 40px;
    .logo {
      font-size: 20px;
      color: $primary;
      text-decoration: none;
      span {
        color: $primary;
      }
    }
    .nav_menu {
      ul {
        display: flex;
        gap: 14px;
        li {
          a {
            font-size: 14px;
            font-weight: 700;
            color: $white;
            text-decoration: none;
            &.active {
              color: $primary;
            }
          }
        }
      }
    }
    // .movie {
    // }
    .user {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $black;
      cursor: pointer;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 40px;
      margin: auto;
      transition: 0.3s;
      &:hover {
        transform: scale(1.2);
      }
      img {
        width: 100%;
      }
    }
  }
  //영화 메인 페이지
  .container {
    .the_header {
      width: 100vw;
      height: 60px;
      position: relative;
      top: 0;
      background-color: rgb(197, 138, 255);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 70vh;
      color: $white;
      h1 {
        margin: 0;
        font-size: 7rem;
        font-weight: 900;
        color: $primary;
      }
      h2 {
        margin: 0 0 20px 0;
        font-size: 2rem;
        font-weight: 300;
      }
      p {
        font-weight: 100;
        width: 70vw;
      }
    }
    .search {
      height: 10vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 40px;
      input {
        height: 50px;
        width: 50%;
        border-radius: 30px;
        border: none;
        &:focus {
          outline: none;
          border-color: #d6a8e9;
          box-shadow: 0 0 10px #d6a8e9;
        }
      }
      .btn {
        height: 50px;
        min-width: 90px;
        border-radius: 30px;
        border-style: none;
        &:hover {
          background-color: $primary;
        }
      }
    }
    .movie_list {
      background-color: purple;
    }
  }
  //영화 상세 페에지  container랑 같은 뎁스
  .the_movie {
    color: $white;
    display: flex;
    gap: 70px;
    .poster {
      flex-shrink: 0;
      width: 500px;
      height: calc(500 * 3 / 2);
      border-radius: 10px;
      background-size: cover;
      background-color: $white;
    }
    .specs {
      flex-grow: 1;
      .title {
        font-size: 70px;
        margin-bottom: 30px;
      }
      .labels {
        margin-bottom: 20px;
      }
      // .plot {

      // }
      h3 {
        font-size: 20px;
        margin: 24px 0 6px;
      }
    }
  }
}
