

.mainPage {
  width: 100%;
  background-color: #ececdc;
  padding: 3rem 0;
  height: 100%;

  #searchForm {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    .selects {
      margin-right: 0.3rem;
      .select {
        margin: 0 0.1rem;
        border-radius: 0.3rem;
        background-color: rgb(244, 244, 227);
        height: 2rem;
      }
    }
    .search {
      background-color: rgb(244, 244, 227);
      border-radius: 0.5rem;
      width: 30rem;
      height: 1.7rem;
    }
    button {
      background-color:rgb(244, 244, 227);
      border-radius: 0.5rem;
      width: 4rem;
      height: 2rem;
    }
  }

//Movie List
  #search__result {
    background-color: #eee6c4;
    margin: 3rem 10rem;
    border-radius: 4rem;
    overflow-y: scroll;
    height: 30rem;
    max-height: 30rem;
    .result__ul {
      margin: 2rem 4rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      //loading
      .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
      }
      
      .loading::before {
        content: '';
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 2px solid #fff;
        border-top-color: #777;
        animation: spin 0.8s ease-in-out infinite;
      }
      
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }

      //movies
      .list__movie {
        margin: 1rem 1.5rem;
        color: white;
        .list__container {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
          cursor: pointer;
          .list__poster {
            display: block;
            box-shadow: 1px 1px 3px rgb(2, 2, 2);
            width: 160px;
            height: 218px;
            border-radius: 1rem;
          }
          .list__title, .list__year {
            position: absolute;
            text-shadow: .2px .2px 1px;
            display: none;
          }
          .list__title {
            color:rgb(244, 244, 227)
          }
          .list__year {
            bottom: 0.3rem;
            right: 0.4rem;
            color:rgb(240, 240, 220);
            font-size: 0.8rem;
          }
        }
        .list__container:hover {
          background-color: black;
          .list__poster:hover {
            opacity: 0.5;
          }
          .list__title, .list__year {
            display: block;
          }
        }
      }
      .result__total {
        margin-top: 3rem;
        font-size: 0.8rem;
      }
    }
  }
  #search__result::-webkit-scrollbar {
    width: 0.7rem;
  }

}
