// Header 7vh
header {
  font-family: "Pretendard";
  display: flex;
  height: 7vh;
  justify-content: left;
  align-items: center;
  background-color: var(--color-gray);
  gap: 50px;

  nav {
    background-color: inherit;

    a {
      text-decoration: none;
      font-size: 16px;
      color: var(--color-white);
      font-weight: 400;
      background-color: inherit;
    }

    a:hover {
      color: var(--color-pink);
      transition: 0.2s;
    }

    .navWutcha {
      font-family: "Pretendard";
      font-size: 32px;
      letter-spacing: -0.8px;
      font-weight: 800;
      color: var(--color-pink);
      padding: 0 100px;
    }
  }

  nav:first-child {
    margin-top: 6px;
  }
}
