.movieInfo {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.poster {
  display: flex;
  justify-content: start;
  margin-right: 40px;

  img {
    width: 360px;
    height: 540px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .info {
    color: #7C58DF;
    display: block;
    font-size: 14px;

    &:first-child {
      margin-bottom: 10px;
    }
  }

  .title {
    font-size: 32px;
    margin-bottom: 5px;
  }

  .heading {
    color: #7C58DF;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .plot,
  .actors,
  .director {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .rating {
    color: #333;
    font-size: 20px;
  }
}