.movieList {
  background-color: #E9ECEF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 20px 30px;
  padding: 20px 0;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;

    img {
      box-sizing: border-box;
      width: 200px;
      height: 300px;

      &:hover {
        cursor: pointer;
        border: 5px solid #7C58DF;
      }
    }
  }
}