.movieList {

  background-color: #E9ECEF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;

  li {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;

    img {
      
      box-sizing: border-box;
      width: 200px;
      height: 300px;

      &:hover {
        cursor: pointer;
        border: 5px solid #7C58DF;

      }
      
    }

    // span {
    //   font-size: 20px;
    // }
  }
}