@use '../base';

.search {
  width: 100%;
  height: fit-content;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px;
  .search-wrap{
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 20px;
    input {
      height: 45px;
      padding: 10px 10px;
      flex-grow: 1;
      background-color: base.$color--black;
      border: 2px solid base.$color--point;
      box-sizing: border-box;
      color: base.$color--white;
      border-radius: 4px;
      font-size: 18px;
      &:focus {
        outline: none;
      }
    }
    select {
      height: 45px;
      width: 100px;
      background-color: base.$color--black;
      border: 2px solid base.$color--point;
      color: base.$color--point;
      text-align: center;
      font-size: 18px;
      border-radius: 4px;
      font-family: 'Poppins', sans-serif;
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: base.$color--primary;
      border: none;
      &:hover {
        background-color: base.$color--hover;
      }
    }
  }
}