.mainArticle {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  padding: 60px 160px 0 0;

  .detailInfo {
    position: absolute;
    top: 0;
    left: 0;

    .tapMenu {
      display: flex;
      width: 1100px;
      margin: 0 auto;
      padding: 0;
      border-bottom: 1px solid var(--color-fontGray);
      padding-bottom: 10px;

      li {
        .routeNavLink {
          text-decoration: none;
          color: var(--color-white);
          font-size: 1.5rem;

          span::after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 2px solid var(--color-pink);
            border-radius: 2px;
            content: "";
            width: 84px;
          }
        }

        .routeNavLink:hover {
          color: var(--color-pink);
        }
      }

      li:first-child {
        margin-right: 80px;
      }
    }
  }
  .articleWrapper {
    color: var(--color-fontGray);
    font-size: 1.2rem;
    padding: 20px 0 50px 0;
    line-height: 2.2rem;
  }
}
