:root {
  --background: #1c1a29;
  --main: #6a60af;
  --accent: #2e0b5c;
  --area: #514f64;
  --secondary: #2f2c44;
  --white: #fff;
  --black: #000;
  --font: #f1f1f1;
  --hint: rgba(255, 255, 255, 0.2);
  --button-active: #6c61af80;
  --hover: #9a8dfb;
  --detail-font: #ada7de;
}

html,
body {
  width: 100%;
  /* height: 100%; */
  font-size: 16px;
  font-family: 'GongGothicMedium', sans-serif;
  color: var(--white);
  background-color: var(--background);
}

a {
  color: var(--white);
  text-decoration: none;
}

img {
  display: block;
}

#root {
  width: 100%;
  height: 100%;
}

.my-movies {
  max-width: 1200px;
  margin: 0 auto;
}

.my-movies ul.movie-list {
  min-width: 460px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) repeat(
      auto-fill,
      minmax(200px, 1fr)
    );
  gap: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 8px;
  background-color: var(--area);
  padding: 20px;
}

@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EF_jejudoldam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
