.item {
  width: 200px;
  height: 300px;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #cbd5e1;
  }

  50% {
    background-color: #94a3b8;
  }

  100% {
    background-color: #cbd5e1;
  }
}
